<!DOCTYPE html>
<html>
  <head>
    <title>Weatherbot</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <% if @noindex %>
      <meta name="robots" content="noindex">
    <% end %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>
    <% if ENV['PLAUSIBLE_DOMAIN'].present? %>
      <script defer data-domain="<%= ENV['PLAUSIBLE_DOMAIN'] %>" src="/js/script.js"></script>
    <% end %>
  </head>

  <body>
    <div class="content">
      <% flash.each do |name, msg| -%>
        <p><%= msg %></p>
      <% end -%>
      <h1>Weatherbot</h1>
      <%= yield %>
      <footer class="footer">
        <p>Built by <a href="https://www.twitter.com/gesteves">@gesteves</a> • <a href="https://github.com/gesteves/weatherbot">GitHub</a> • Powered by <a href="https://darksky.net/poweredby/">Dark Sky</a> • App icon by <a href="https://www.sihanliu.com/">Sihan Liu</a></p>
      </footer>
    </div>
  </body>
</html>
